body {
  background: #191765;
  max-width: 375px;
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  background: url(images/top-bg.png);
  background-repeat: no-repeat;
  align-items: center;
}

header {
  align-items: center;
}

section {
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 72px;
  letter-spacing: 0.37px;
  margin: 0;
  color: #7d73fc;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin: 0;
  color: white;
  text-align: center;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
  color: #c8c8d4;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 10px;
}

/* Nav Start */
.flex-nav ul {
  display: flex;
  margin: 0;
  align-items: center;
}

.flex-items {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0 5px;
  text-align: center;
}

#nav-name {
  flex: 1;
}

.icon {
  width: 50%;
}

/* Nav End */

/* Section Headline Start */
.headline {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

#flex-box-p {
  width: 327px;
  height: 170px;
}

/* Section Headline End */

/* Section About Start */
.about {
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  width: 327px;
}

.flex-list-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-list-font ul {
  font-weight: 300;
  line-height: 12px;
  margin: 0;
}

.flex-list-title {
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5.33px;
  color: #9490ff;
}

/* Section About End */

/* Section Social Start */
.social {
  margin-right: 6%;
  display: flex;
  flex-direction: column;
}

.social div {
  display: flex;
}

.footer-icons {
  display: flex;
}

.icons {
  width: 24px;
}

/* Section Social End */

/* Section Middle Start */
.workbg {
  background: url(images/middle-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.work {
  display: grid;
  grid-template-rows: repeat(7, 20%);
  padding-left: 6%;
}

.work h1 {
  grid-column: 1;
  padding: 10% 0 10% 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.37px;
  margin: 0;
  color: #9490ff;
  text-align: left;
}

.work img {
  grid-column: 1;
  padding: 10% 0 10% 0;
}

.work h2 {
  grid-column: 1;
  padding: 10% 0 10% 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.37px;
  color: #fff;
  text-align: left;
}

.work p {
  grid-column: 1;
  margin-right: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #dcdce8;
}

.workul {
  border: 1px solid red;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(7, auto);
  padding: 0;
}

.workul li {
  border: 1px solid red;
  margin: auto;
}

/* Section Middle End */
