html {
  scroll-behavior: smooth;
}

body {
  background: #191765;
  position: relative;
  margin: 0;
  min-width: 375px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  align-items: center;
}

header {
  align-items: center;
}

section {
  align-items: center;
}

h1 {
  margin: 0;
  color: #7d73fc;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  border-top: 1px solid #3a3837;
  margin-top: 71px;
}

small {
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* Nav Start */

.flex-nav {
  position: relative;
}

.flex-nav #menu {
  display: none;
}

.flex-nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#icon {
  display: block;
  right: 0;
  top: 0;
  padding: 1em;
  position: absolute;
}

#close {
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.nav-menu {
  width: 100vw;
  height: 100vh;
  padding-top: 108px;
  padding-left: 40px;
}

.nav-menu div {
  display: grid;
  align-items: center;
  grid-template-columns: 80% 20%;
}

.nav-menu a {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.nav-menu img {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.desk-nav {
  display: flex;
  justify-content: flex-end;
}

.desk-nav li {
  margin: 0;
  padding: 1em;
}

/* Nav End */

/* Headline Start */
.headline {
  display: flex;
  flex-direction: column;
}

.headline header {
  margin: 139px 24px 40px 24px;
}

.headline h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

.headline h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.headline p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.37px;
  text-align: center;
  color: #c8c8d4;
  max-width: 327px;
  max-height: 170px;
  margin: 0 24px 33px 24px;
}

/* Headline End */

/* About Start */
.about {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.vector-about {
  border: 1px solid #646369;
  width: 60vw;
  min-width: 327px;
  max-width: 448px;
}

.about-div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 32px 0 33px;
}

.about ul {
  align-self: flex-start;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-right: 32px;
  padding-left: 0;
  margin: 0;
}

.about li {
  padding: 7px;
  transition: text-decoration 0.9s ease-in-out;
}

.list-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #9490ff;
}

/* About End */

/* Social Start */
.social {
  display: flex;
  flex-direction: column;
}

.social ul {
  display: flex;
  padding: 0;
  margin: 48px 0 28px;
}

.social li {
  padding: 0%;
}

/* Social End */

/* Work Start */
#works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pink {
  display: flex;
  flex-direction: column;
}

.yellow {
  display: flex;
  flex-direction: column;
}

.tropical {
  display: flex;
  flex-direction: column;
}

.windows {
  display: flex;
  flex-direction: column;
}

.work h1 {
  padding: 84px 0 33px 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.37px;
  color: #9490ff;
  text-align: left;
}

.resize-img {
  min-width: 327px;
  min-height: 236px;
  max-width: 90%;
  height: auto;
  padding: 48px 0 24px 0;
}

.work h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.37px;
  color: #fff;
  text-align: left;
  padding: 24px 24px 0 24px;
  margin: 0 24px;
}

.work p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #dcdce8;
  margin: 0 24px;
  padding: 24px 24px 0 24px;
  min-width: 327px;
  min-height: 170px;
}

.work ul {
  display: grid;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  padding: 24px;
  margin: 0 24px;
  font-size: 15px;
  line-height: 20px;
}

.work a {
  align-items: center;
}

.work-button {
  background: #7d73fc;
  border: none;
  color: white;
  padding: 12px;
  margin: 0 48px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.work-button:hover {
  background: #7d73ec;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.work-button:active {
  background: #5e42d7;
}

.work-button:disabled {
  background: #2a2b33;
}

/* Work End */

/* Contact Start */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

.contact h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #9390ff;
}

.contact p {
  margin: 24px 0 16px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #f5f5ff;
  min-width: 327px;
  min-height: 105px;
  max-width: 684px;
  max-height: 61px;
}

.contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 24px;
  padding: 0;
}

.contact li {
  display: flex;
  flex: 1;
  min-width: 327px;
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.form-input {
  flex: 1;
  width: 100%;
  border: 0;
  padding: 15px 16px;
}

.contact textarea {
  height: 148px;
  padding: 12px;
}

#contact-button {
  background-color: #7d73fc;
  border: none;
  color: white;
  padding: 12px;
  align-self: center;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  width: 89px;
  height: 48px;
  margin-top: 40px;
}

#contact-button:hover {
  background: #7d73ec;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

#contact-button:active {
  background: #5e42d7;
}

#contact-button:disabled {
  background: #2a2b33;
}

/* Contact End */

/* Footer Start */
.social-footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.social-footer div {
  display: flex;
}

.social-footer ul {
  padding: 0;
  display: flex;
  margin-bottom: 0;
}

.social-footer li {
  padding: 0;
}

.social-footer img {
  width: 36px;
  padding: 0;
}

#flex-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.modal-social img {
  padding: 0 14px;
}

#flex-email a {
  margin-top: 9px;
  margin-bottom: 27px;
}

#flex-email img {
  height: 5px;
  width: 135px;
  margin-bottom: 8px;
}

/* Footer End */

/* Modal Start */
#modal-popup {
  display: none;
  position: fixed;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
}

#modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(25, 23, 101, 0.95);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid #fff;
  max-width: 1156px;
  min-width: 327px;
  width: 80%;
  margin: 20% auto;
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.modal p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #dcdce8;
  margin: 24px;
  padding: 0;
  min-width: 279px;
}

.modal-social {
  display: grid;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  padding: 24px;
  margin: 0 24px;
}

.responsive {
  max-width: 90%;
  height: auto;
}

#modal-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#modal-top h2 {
  flex: 1;
  padding: 6% 0;
  margin: 0;
}

#modal-close {
  width: 3%;
  height: 3%;
  padding: 0 6%;
}

#btn-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d73fc;
  border: none;
  color: white;
  padding: 12px;
  margin: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  height: 48px;
}

#modal-button img {
  padding: 6px;
}

#modal-button:hover {
  background: #7d73ec;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

#modal-button:active {
  background: #5e42d7;
}

#modal-button:disabled {
  background: #2a2b33;
}

/* Modal End */

/* Queries Start */
.display-none {
  display: none;
}

/* Queries End */

/* Background Start */
.headline-bg {
  background: url(images/mobile/circle-left.png);
  background-repeat: no-repeat;
}

.about-bg {
  background: url(images/mobile/circle-right.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.post-bg {
  background: url(images/mobile/ellipse-left.png), url(images/mobile/ellipse-right.png), url(images/mobile/ellipse-bot-left.png), url(images/mobile/ellipse-bot-right.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top 250px left, top 1250px right, bottom 950px left, bottom 250px right;
}

/* Background End */

/* Animations Start */
@keyframes bounce {
  0%,
  100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.about li:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.social li:hover {
  animation-duration: 0.3s;
  animation-name: bounce;
}

.social-footer li:hover {
  animation-duration: 0.3s;
  animation-name: bounce;
}

/* Animations End */
