body {
  background: #191765;
  position: relative;
  margin: 0;
  min-width: 375px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  align-items: center;
}

header {
  align-items: center;
}

section {
  align-items: center;
}

h1 {
  margin: 0;
  color: #7d73fc;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  border-top: 1px solid #3a3837;
  margin-top: 71px;
}

/* Nav Start */
.flex-nav {
  position: absolute;
  width: 100%;
}

.flex-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-name {
  flex: content;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.nav-name a {
  margin: 16px 24px;
}

.nav-item {
  text-align: center;
  margin: 16px 12px;
}

.nav-item a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* Nav End */

/* Headline Start */
.headline {
  display: flex;
  flex-direction: column;
}

.headline header {
  margin: 139px 24px 40px 24px;
}

.headline h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

.headline h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.headline p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.37px;
  text-align: center;
  color: #c8c8d4;
  max-width: 327px;
  max-height: 170px;
  margin: 0 24px 33px 24px;
}

/* Headline End */

/* About Start */
.about {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.vector-about {
  border: 1px solid #646369;
  width: 60vw;
  min-width: 327px;
  max-width: 448px;
}

.about-div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 32px 0 33px;
}

.about ul {
  align-self: flex-start;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-right: 32px;
  padding-left: 0;
  margin: 0;
}

.about li {
  padding: 7px;
  transition: text-decoration 0.9s ease-in-out;
}

.list-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #9490ff;
}

/* About End */

/* Social Start */
.social {
  display: flex;
  flex-direction: column;
}

.social ul {
  display: flex;
  padding: 0;
  margin: 48px 0 28px;
}

.social li {
  padding: 0%;
}

/* Social End */

/* Work Start */
.vector-work {
  border: 1px solid #646369;
  width: 80vw;
  min-width: 327px;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  display: flex;
  flex-direction: column;
}

.work h1 {
  padding: 84px 0 33px 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.37px;
  color: #9490ff;
  text-align: left;
}

.resize-img {
  padding: 48px 0 24px 0;
}

.work h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.37px;
  color: #fff;
  text-align: left;
  padding: 24px 24px 0 24px;
  margin: 0 24px;
}

.work p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #dcdce8;
  margin: 0 24px;
  padding: 24px 24px 0 24px;
  min-width: 327px;
  min-height: 170px;
}

.work ul {
  display: grid; /* Nested Grid */
  grid-template-columns: repeat(7, auto);
  align-items: center;
  padding: 24px;
  margin: 0 24px;
}

.work a {
  align-items: center;
}

#work-button {
  background: #7d73fc;
  border: none;
  color: white;
  padding: 12px;
  margin: 0 48px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

#work-button:hover {
  background: #7d73ec;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

#work-button:active {
  background: #5e42d7;
}

#work-button:disabled {
  background: #2a2b33;
}

/* Work End */

/* Contact Start */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

.contact h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #9390ff;
}

.contact p {
  margin: 24px 0 16px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #f5f5ff;
  min-width: 327px;
  min-height: 105px;
  max-width: 684px;
  max-height: 61px;
}

.contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 24px;
  padding: 0;
}

.contact li {
  display: flex;
  flex: 1;
  min-width: 327px;
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.form-input {
  flex: 1;
  width: 100%;
  border: 0;
  padding: 15px 16px;
}

.contact textarea {
  height: 148px;
  padding: 12px;
}

#contact-button {
  background-color: #7d73fc;
  border: none;
  color: white;
  padding: 12px;
  align-self: center;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  width: 89px;
  height: 48px;
  margin-top: 40px;
}

#contact-button:hover {
  background: #7d73ec;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

#contact-button:active {
  background: #5e42d7;
}

#contact-button:disabled {
  background: #2a2b33;
}

/* Contact End */

/* Footer Start */
.social-footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.social-footer div {
  display: flex;
}

.social-footer ul {
  padding: 0;
  display: flex;
  margin-bottom: 0;
}

.social-footer li {
  padding: 0;
}

.social-footer img {
  width: 36px;
  padding: 0;
}

#flex-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

#flex-email a {
  margin-top: 9px;
  margin-bottom: 27px;
}

#flex-email img {
  height: 5px;
  width: 135px;
  margin-bottom: 8px;
}

/* Footer End */

/* Queries Start */
.display-none {
  display: none;
}

/* Queries End */

/* Background Start */
.headline-bg {
  background: url(images/mobile/circle-left.png);
  background-repeat: no-repeat;
}

.about-bg {
  background: url(images/mobile/circle-right.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.post1-bg {
  background: url(images/mobile/ellipse-left.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.post2-bg {
  background: url(images/mobile/ellipse-right.png);
  background-repeat: no-repeat;
  background-position: right;
}

.post3-bg {
  background: url(images/mobile/ellipse-bot-left.png);
  background-repeat: no-repeat;
  background-position: left;
}

.post4-bg {
  background: url(images/mobile/ellipse-bot-right.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* Background End */

/* Animations Start */
@keyframes bounce {
  0%,
  100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.about li:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.social li:hover {
  animation-duration: 0.3s;
  animation-name: bounce;
}

.social-footer li:hover {
  animation-duration: 0.3s;
  animation-name: bounce;
}

/* Animations End */

.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #menu {
  display: none;
  background: #191765;
  margin-top: -20px;
}

/* .topnav #menu.active {
  background: #191765;
} */

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}
